<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <button 
                class="btn btn-primary"
                (click)="onlyOdd = !onlyOdd">
                Switch between show odd and even numbers
            </button>

            <br><br>

            <ul class="list-group">

                <div *ngIf="onlyOdd">
                    <li 
                        class="list-group-item"
                        [ngClass]="{odd: oddNum % 2 !== 0}"
                        [ngStyle]="{backgroundColor: oddNum % 2 !== 0 ? 'yellow' : 'green'}"
                        *ngFor="let oddNum of oddNumbers">
                        {{ oddNum }}
                    </li>
                </div>
                <br>
                <!-- <div *ngIf="!onlyOdd">
                    <li 
                        class="list-group-item"
                        [ngClass]="{even: evenNum % 2 === 0}"
                        [ngStyle]="{backgroundColor: evenNum % 2 !== 0 ? 'yellow' : 'green'}"
                        *ngFor="let evenNum of evenNumbers">
                        {{ evenNum }}
                    </li>
                </div> -->
                <div *appUnless="onlyOdd">
                    <li 
                        class="list-group-item"
                        [ngClass]="{odd: even % 2 !== 0}"
                        [ngStyle]="{backgroundColor: evenNum % 2 !== 0 ? 'yellow' : 'green'}"
                        *ngFor="let evenNum of evenNumbers">
                        {{ evenNum }}
                    </li>
                </div>
            </ul>

            <p appBasicHighLight >Style me with basic directives!</p>
            <p appBetterHighlight [defaultColor]="'yellow'" [highLightColor]="'white'">Style me with the better directive!</p>


        </div>
    </div>
</div>